<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyContacts_DBEntities" connectionString="metadata=res://*/MyContactsModel.csdl|res://*/MyContactsModel.ssdl|res://*/MyContactsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MyContacts_DB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>